@charset "utf-8";

/* ************************************************ 
*	Base, reset, normalize
* ************************************************ */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
html,
body,
div,
span,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}

/* Structure tags
-----------------------------------------------------------------------------*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
embed,
object,
iframe,
audio,
video,
canvas,
progress,
meter,
output,
textarea {
  display: block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}

/* To prevent some browsers from inserting quotes on q and p
-----------------------------------------------------------------------------*/
blockquote,
q {
  quotes: none;
}
blockquote p:before,
blockquote p:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* Table reset 
-----------------------------------------------------------------------------*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  vertical-align: top;
  font-weight: normal;
}
thead th,
thead td {
  font-weight: bold;
  vertical-align: bottom;
}

/* Image inside
-----------------------------------------------------------------------------*/
a img,
th img,
td img {
  vertical-align: top;
}
button,
input,
select,
textarea {
  margin: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Webkit browsers reset margin
-----------------------------------------------------------------------------*/
button,
input,
select,
textarea {
  margin: 0;
  max-width: 97%;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Normalize buttons in IE 
-----------------------------------------------------------------------------*/
button {
  width: auto;
  overflow: visible;
}

/* Hand cursor on clickable controls
-----------------------------------------------------------------------------*/
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="file"],
input[type="radio"],
input[type="checkbox"],
select,
button {
  cursor: pointer;
}

/* Trick with vertical align for radio and checkbox
-----------------------------------------------------------------------------*/
input[type="radio"],
input[type="checkbox"] {
  font-size: 110%;
  position: relative;
  top: -1px;
  margin-right: 3px;
}

/* Normalize search fields
-----------------------------------------------------------------------------*/
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* Horizontal rule reset
-----------------------------------------------------------------------------*/
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ddd;
}

/* Clearfix
-----------------------------------------------------------------------------*/
.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}


/* Responsive media
-----------------------------------------------------------------------------*/
img,
object,
embed,
video,
iframe {
  max-width: 100%;
}
img,
video,
embed,
object {
  height: auto;
}
embed,
object {
  height: 100%;
}
img {
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}


/* ************************************************ 
*	Typography
* ************************************************ */

body {
  font-family: arial,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
  font-size: 14px;
  background: #fff;
  color: #444;
  line-height: 180%;
}

/* Links
-----------------------------------------------------------------------------*/
a {
  color: #336699;
}
a:hover {
  color: #19334d;
}

/* Headings
-----------------------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: bold;
  margin-bottom: 0.5em;
  text-rendering: optimizeLegibility;
}

/* Line height and margin
-----------------------------------------------------------------------------*/
p,
ul,
ol,
dl,
dd,
dt,
blockquote,
td,
th {
  line-height: 1.5em;
}
ul,
ol,
ul ul,
ol ol,
ul ol,
ol ul {
  margin: 0 0 0 2em;
}
ol ol li {
  list-style-type: lower-alpha;
}
ol ol ol li {
  list-style-type: lower-roman;
}
ul,
ol,
dl,
blockquote,
hr,
pre,
table,
form,
fieldset,
figure,
address {
  margin-bottom: 1.5em;
}

/* Definition list
-----------------------------------------------------------------------------*/
dl dt {
  font-weight: bold;
}
dd {
  margin-left: 1em;
}

/* Blockquote
-----------------------------------------------------------------------------*/
blockquote {
  position: relative;
  font-style: italic;
  margin-bottom: 1.5em;
  padding-left: 1.5em;
  padding-right: 1em;
  border-left: 2px solid #ddd;
  color: #777;
}
blockquote p {
  margin-bottom: 1em;
}
blockquote small,
cite {
  color: #777;
  font-style: italic;
}
small,
blockquote cite {
  font-size: 0.85em;
  line-height: 1;
}

/* Address
-----------------------------------------------------------------------------*/
address {
  font-style: normal;
}

/* Text-level
-----------------------------------------------------------------------------*/
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}
strong,
b {
  font-weight: bold;
}
em,
i {
  font-style: italic;
}
sub,
sup {
  font-size: 0.7em;
  line-height: 0;
  position: relative;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
figcaption {
  margin: 0.3em 0;
  font-size: 12px;
  font-style: italic;
}
ins,
mark {
  background-color: transparent;
  color: #000000;
  text-decoration: none;
}

/* =Code
-----------------------------------------------------------------------------*/
pre,
code,
kbd,
samp,
var,
output {
  font-size: 90%;
  font-style: normal;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
pre {
  margin-top: 1.65em;
  font-size: 100%;
  line-height: 1.5;
  color: #222222;
  overflow: auto;
}
code,
samp,
kbd {
  padding: 3px 6px 2px 6px;
  display: inline-block;
  line-height: 1;
  border-radius: 2px;
}
code {
  background: #f4f4f4;
  border: 1px solid #d4d4d4;
}
pre code {
  font-size: 100%;
  border: none;
  padding: 0;
  background: none;
  line-height: 1.65em;
}
var {
  color: rgba(0, 0, 0, 0.5);
}
samp {
  background: #d3e3fb;
  border: 1px solid #b2cef8;
}
kbd {
  background: #0f0f0f;
  color: rgba(255, 255, 255, 0.85);
  white-space: nowrap;
}

/* Form
-----------------------------------------------------------------------------*/
button:active,
button:focus {
  outline: none;
}
textarea,
select {
  font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size: 1em;
  box-shadow: none;
}
textarea,
select[multiple],
select[multiple="multiple"] {
  padding: 0.3em 0.35em;
  line-height: 1.35em;
  width: 97%;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="phone"],
input[type="tel"],
input[type="number"],
input[type="datetime"],
input[type="date"],
input[type="month"],
input[type="color"],
input[type="time"],
input[type="search"],
input[type="datetime-local"] {
  font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size: 1em;
  box-shadow: none;
  padding: 0.3em 0.35em;
  line-height: 1.65em;
  border-radius: 0;
  outline: none;
}
select[multiple],
select[multiple="multiple"],
textarea,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="phone"],
input[type="tel"],
input[type="number"],
input[type="datetime"],
input[type="date"],
input[type="month"],
input[type="color"],
input[type="time"],
input[type="search"],
input[type="datetime-local"] {
  background: #ffffff;
  border: 1px solid #cccccc;
  position: relative;
  z-index: 2;
  -webkit-appearance: none;
}
textarea[disabled],
input[type="text"][disabled],
input[type="password"][disabled],
input[type="email"][disabled],
input[type="url"][disabled],
input[type="phone"][disabled],
input[type="tel"][disabled],
input[type="number"][disabled],
input[type="datetime"][disabled],
input[type="date"][disabled],
input[type="month"][disabled],
input[type="color"][disabled],
input[type="time"][disabled],
input[type="search"][disabled],
input[type="datetime-local"][disabled] {
  resize: none;
  color: rgba(0, 0, 0, 0.5);
}
select[disabled],
input[type="checkbox"][disabled],
input[type="radio"][disabled] {
  cursor: default;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[type="range"] {
  position: relative;
  top: 3px;
}
select {
  margin-bottom: 0 !important;
}
fieldset {
  margin-bottom: 25px;
}
fieldset *:last-child {
  margin-bottom: 0 !important;
}
legend {
  font-weight: bold;
  padding: 0 1em;
  margin-left: -1em;
}


/* ************************************************ 
*	Tables
* ************************************************ */
table {
  max-width: 100%;
  width: 100%;
  empty-cells: show;
}
table caption {
  text-transform: uppercase;
  padding: 0 17px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 12.75px;
}
table th{
  padding: 13px 13px 13px 0px;
}
table td {
  padding: 13px 0px;
}
table tfoot th,
table tfoot td {
  color: rgba(0, 0, 0, 0.4);
}

/* Responsive Tables */
.table-container {
  width: 100%;
  overflow: auto;
  margin-bottom: 25px;
}
.table-container table {
  margin-bottom: 0;
}
.table-container::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
}
.table-container::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid #fff;
  background-color: rgba(0, 0, 0, 0.3);
}


/* ************************************************ 
*	Grid
* ************************************************ */

.row {
  margin-bottom: 0;
}
.container.row {
  margin-bottom: 0;
}
.container:after,
.row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.half,
.third,
.quarter,
.fifth,
.sixth,
.twothird,
.twofifth,
.threefifth,
.fourfifth,
.fivesixth,
.threequarter {
  margin-left: 3.1914893617021276%;
  float: left;
  min-height: 1px;
}
.half:first-child,
.third:first-child,
.quarter:first-child,
.fifth:first-child,
.sixth:first-child,
.twothird:first-child,
.twofifth:first-child,
.threefifth:first-child,
.fourfifth:first-child,
.fivesixth:first-child,
.threequarter:first-child {
  margin-left: 0;
}
.sixth {
  width: 14.007092198581558%;
}
.fifth {
  width: 17.4468085106383%;
}
.quarter {
  width: 22.606382978723403%;
}
.third {
  width: 31.205673758865245%;
}
.half {
  width: 48.40425531914894%;
}
.threequarter {
  width: 74.20212765957446%;
}
.twothird {
  width: 65.60283687943262%;
}
.twofifth {
  width: 38.08510638297872%;
}
.threefifth {
  width: 58.72340425531915%;
}
.fourfifth {
  width: 79.36170212765958%;
}
.fivesixth {
  width: 82.8014184397163%;
}
.push-half,
.push-threequarter,
.push-quarter,
.push-third,
.push-twothird,
.push-fifth,
.push-twofifth,
.push-threefifth,
.push-fourfifth,
.push-sixth,
.push-fivesixth {
  position: relative;
}
.push-half {
  left: 51.59574468085106%;
}
.push-third {
  left: 34.39716312056737%;
}
.push-quarter {
  left: 25.79787234042553%;
}
.push-fifth {
  left: 20.638297872340427%;
}
.push-sixth {
  left: 17.198581560283685%;
}
.push-threequarter {
  left: 77.39361702127658%;
}
.push-twothird {
  left: 68.79432624113474%;
}
.push-twofifth {
  left: 41.27659574468085%;
}
.push-threefifth {
  left: 61.91489361702128%;
}
.push-fourfifth {
  left: 82.55319148936171%;
}
.push-fivesixth {
  left: 85.99290780141843%;
}
.split .half,
.split .third,
.split .quarter,
.split .fifth,
.split .sixth,
.split .twothird,
.split .twofifth,
.split .threefifth,
.split .fourfifth,
.split .fivesixth,
.split .threequarter {
  margin-left: 0;
}
.split .half {
  width: 50%;
}
.split .threequarter {
  width: 75%;
}
.split .quarter {
  width: 25%;
}
.split .third {
  width: 33.3%;
}
.split .twothird {
  width: 66.6%;
}
.split .fifth {
  width: 20%;
}
.split .twofifth {
  width: 40%;
}
.split .threefifth {
  width: 60%;
}
.split .fourfifth {
  width: 80%;
}
.split .sixth {
  width: 16.6%;
}
.split .fivesixth {
  width: 83.4%;
}
.inner {
  padding: 1.5em;
}
.inner-left {
  padding-left: 1.5em;
}
.inner-right {
  padding-right: 1.5em;
}
.inner-nobottom {
  padding-bottom: 1px;
}
.inner-double {
  padding: 3em;
}
.inner-double-left {
  padding-left: 3em;
}
.inner-double-right {
  padding-right: 3em;
}
.inner-double-nobottom {
  padding-bottom: 1px;
}
.row .push-right {
  float: right;
}
.row .centered {
  float: none;
  margin: 0 auto;
}


/* ************************************************ 
*	Blocks
* ************************************************ */

.block-two,
.block-three,
.block-four,
.block-five,
.block-six {
  list-style: none;
  margin-left: -3.1914893617021276%;
  margin-bottom: 0;
}
.block-two:after,
.block-three:after,
.block-four:after,
.block-five:after,
.block-six:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.block-two > li,
.block-three > li,
.block-four > li,
.block-five > li,
.block-six > li {
  height: auto;
  float: left;
  margin-bottom: 1.5em;
  margin-left: 3.1914893617021276%;
}
.block-two > li {
  width: 46.80851063829787%;
}
.block-three > li {
  width: 30.141843971631204%;
}
.block-four > li {
  width: 21.80851063829787%;
}
.block-five > li {
  width: 16.80851063829787%;
}
.block-six > li {
  width: 13.47517730496454%;
}


/* ************************************************ 
*	Basic
* ************************************************ */

.image-left {
  float: left;
  margin: 0 1em 1em 0;
}
.image-right {
  float: right;
  margin: 0 0 1em 1em;
}
.image-left img,
.image-right img {
  position: relative;
  top: .4em;
}
p.lead {
  font-size: 1.2em;
}
.supersmall {
  font-size: 0.7em;
}
.small {
  font-size: 0.85em;
}
.big {
  font-size: 1.2em;
}
input.big {
  padding: 2px 0;
  font-size: 1.2em;
}
.text-centered {
  text-align: center;
}
.uppercase {
  text-transform: uppercase;
}
.nowrap {
  white-space: nowrap;
}
.clear {
  clear: both;
}
.last {
  margin-right: 0 !important;
}
.end {
  margin-bottom: 0 !important;
}
.handle {
  cursor: move;
}
.normal {
  font-weight: normal;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.req,
.required {
  font-weight: normal;
  color: #da3e5a;
}
.highlight {
  background-color: #e5ecf5 !important;
}

/* Font
-----------------------------------------------------------------------------*/
.moji100px { font-size: 100px; line-height: 170%; }
.moji90px { font-size: 90px; line-height: 170%; }
.moji80px { font-size: 80px; line-height: 170%; }
.moji70px { font-size: 70px; line-height: 170%; }
.moji60px { font-size: 60px; line-height: 170%; }
.moji50px { font-size: 50px; line-height: 170%; }
.moji40px { font-size: 40px; line-height: 170%; }
.moji30px { font-size: 30px; line-height: 170%; }
.moji29px { font-size: 29px; line-height: 170%; }
.moji28px { font-size: 28px; line-height: 170%; }
.moji27px { font-size: 27px; line-height: 170%; }
.moji26px { font-size: 26px; line-height: 170%; }
.moji25px { font-size: 25px; line-height: 170%; }
.moji24px { font-size: 24px; line-height: 170%; }
.moji23px { font-size: 23px; line-height: 170%; }
.moji22px { font-size: 22px; line-height: 170%; }
.moji21px { font-size: 21px; line-height: 170%; }
.moji20px { font-size: 20px; line-height: 170%; }
.moji19px { font-size: 19px; line-height: 170%; }
.moji18px { font-size: 18px; line-height: 170%; }
.moji17px { font-size: 17px; line-height: 170%; }
.moji16px { font-size: 16px; line-height: 170%; }
.moji15px { font-size: 15px; line-height: 170%; }
.moji14px { font-size: 14px; line-height: 170%; }
.moji13px { font-size: 13px; line-height: 170%; }
.moji12px { font-size: 12px; line-height: 170%; }
.moji11px { font-size: 11px; line-height: 170%; }
.moji10px { font-size: 10px; line-height: 150%; }
.moji9px { font-size: 9px; line-height: 370%; }

.mincho {
font-family:'century','Times New Roman','Baskerville','Optima','Palatino','Georgia','ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','HGS明朝E','ＭＳ Ｐ明朝','MS PMincho',serif;
}


/* margin
-----------------------------------------------------------------------------*/
.margin-top10{ margin-top: 10px; }
.margin-top20{ margin-top: 20px; }
.margin-top30{ margin-top: 30px; }
.margin-top40{ margin-top: 40px; }
.margin-top50{ margin-top: 50px; }
.margin-top60{ margin-top: 60px; }
.margin-top70{ margin-top: 70px; }
.margin-top80{ margin-top: 80px; }
.margin-top90{ margin-top: 90px; }
.margin-top100{ margin-top: 100px; }

.margin-bottom10{ margin-bottom: 10px; }
.margin-bottom20{ margin-bottom: 20px; }
.margin-bottom30{ margin-bottom: 30px; }
.margin-bottom40{ margin-bottom: 40px; }
.margin-bottom50{ margin-bottom: 50px; }
.margin-bottom60{ margin-bottom: 60px; }
.margin-bottom70{ margin-bottom: 70px; }
.margin-bottom80{ margin-bottom: 80px; }
.margin-bottom90{ margin-bottom: 90px; }
.margin-bottom100{ margin-bottom: 100px; }


/* Width
-----------------------------------------------------------------------------*/
.width-33 {
  width: 33%;
}
.width-50 {
  width: 50%;
}
.width-100 {
  width: 100%;
}
input.width-100 {
  width: 98.6%;
}
textarea.width-100 {
  width: 99.4%;
}
select.width-100 {
  width: 99.4%;
}

/* Colors
-----------------------------------------------------------------------------*/
.black {
  color: #000000;
}
.gray-dark {
  color: #555555;
}
.gray {
  color: #777777;
}
.gray-light {
  color: #999999;
}
.white {
  color: #ffffff;
}
.red,
.error {
  color: #da3e5a;
}
.green,
.success {
  color: #18a011;
}

/* Link Colors Hover
-----------------------------------------------------------------------------*/
a.white:hover {
  color: #d9d9d9;
  color: rgba(255, 255, 255, 0.8);
}
a.green:hover,
a.red:hover,
a.error:hover {
  color: #000000;
}



/* ************************************************ 
*	Responsive Mobile (Portrait)
* ************************************************ */

@media only screen and (max-width: 767px) {
  .row .half,
  .row .third,
  .row .quarter,
  .row .fifth,
  .row .sixth,
  .row .twothird,
  .row .twofifth,
  .row .threefifth,
  .row .fourfifth,
  .row .fivesixth,
  .row .threequarter {
    margin-left: 0;
    width: 100%;
  }
  .push-half,
  .push-threequarter,
  .push-quarter,
  .push-third,
  .push-twothird,
  .push-fifth,
  .push-twofifth,
  .push-threefifth,
  .push-fourfifth,
  .push-sixth,
  .push-fivesixth {
    left: 0;
  }
  .row .pull-right {
    float: none;
  }
  /* Blocks */
  .block-two,
  .block-three,
  .block-four,
  .block-five,
  .block-six {
    margin-left: 0;
    margin-bottom: 1.5em;
  }
  .block-two > li,
  .block-three > li,
  .block-four > li,
  .block-five > li,
  .block-six > li {
    float: none;
    margin: 0;
    width: 100%;
  }
  /* Forms */
  .forms.columnar label {
    float: none;
    text-align: left;
    width: auto;
  }
  .forms.columnar .push,
  .forms.columnar div.descr {
    margin-left: 0;
  }
  .forms .multicolumn li {
    float: none;
    margin-right: 0;
  }
  .forms .multicolumn li.width-50,
  .forms .multicolumn li.width-33 {
    width: 100%;
  }
  .forms.columnar li fieldset,
  .forms.columnar li fieldset section {
    width: 100%;
    padding-left: 0;
    text-align: left;
    position: static;
  }
  .forms fieldset {
    padding: 0;
    padding-top: 1em;
    border: none;
  }
  .forms fieldset legend {
    padding: 0;
  }
}
